@import "tailwindcss";

@theme {
  --color-color1: #DBC9B8; /*beige*/
    --color-color1_light: #f3e9e0;
  --color-color2: #FA9224; /*orange*/
    --color-color2_dark: #d35b0cf5;
  --color-color3: #52341B; /*brown*/
    --color-color3_dark: #2c1a0a;
  --color-color4: #FFFFFF; /*white*/
  --color-inactive: #49433e; /*grayed */ 
}
